.footer {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: black;  
    height: 100px;
    text-align: center;
    padding: 30px;
    background-color: orange;
  }

  .footer-game-name{
    width: 100%;
  }

  .footer-copyright{
    width: 100%;
  }