.header {
    background-color: orange;
    height: 300px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.header h2 {
    font-size: 3rem;
    padding-top: 60px;
    line-height: 6rem;
    font-weight: bold;


}