.header {
    background-color: orange;
    height: 150px auto;
    width: auto;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    padding-top: 10px auto;
}
.header h2 {
    font-size: 3rem;
    font-weight: bold;
}

.header p {
    font-size: 15px;
}